{% extends "base.twig" %}

{% block content %}

    <div class="alert alert-danger">
        {{ __('Sorry, but the page you were trying to view does not exist.', 'sage') }}
    </div>


{% endblock %}