{% extends "templates/base.twig" %}
{% block main %}
    <main id='content' class='hp-jumbo' style="background-image: url( '{{ function('get_the_post_thumbnail_url') }}')">
        <div class=" mb-0 jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">
                    {{site.name}}</h1>
                <div class="lead">
                    {{ posts[0].content }}</div>
            </div>
        </div>
    </main>
{% endblock %}