// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html{
    font-size: 16px;
}
th,
b,
strong {
  font-weight: $font-weight-bold; // Add the correct font weight in Chrome, Edge, and Safari
}

.business-header h1,
#Footer{
    direction:ltr;
}
h1{
    color: $dark;
}
body{
    position: relative;
    &.rtl{
        text-align: right;
        direction: rtl;
        .navbar-nav{
            padding-right:0; 
        }
        .navbar-brand {
            margin-right: 0;
            margin-left: 1rem;
        }
        .input-group-append {
            margin-right: -1px;
            margin-left: 0px;
        }
        .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
#page{
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    min-height: 100vh;
    #content{
        flex:1;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
   
}

#Header{
    nav{
        background-color: $dark;
    }
}
#Footer{
    background-color: $secondary;
    padding: 0.5rem 0;
    
}
figure,
img{
    max-width:100%;
    height: auto;
}

.sidebar{
    .widget{
        margin-bottom: 2rem;
        //@extend .card;
        $title-color: $dark;
        .widget-header{
            position: relative;
            color:$title-color;
            margin-bottom: 1.5rem;
            &:after {
                background-color: $title-color;
                content: "";
                position: absolute;
                width: 50px;
                display: block;
                height: 3px;
                bottom: -6px;
            }
        }
    }
    ul{
        @extend .list-unstyled;
        padding:0; //rtl
        //@extend .card-body;
    }
}

section.fp{
    min-height: calc(100vh - 60px);
} 


.business-header{
    height:50vh;
    background-size: cover;
    h1{
        display: flex;
        align-items: center;
        color: $light;
        [role=presentation]{
            background: $primary;
            border-radius: 50%;
            padding: .5rem;
            margin: 0 .5rem;
        }
    }
    >div{
        height: 100%;
        display: flex;
        background: rgba($black, 0.6);
        color: $white;
         justify-content: center;
         align-items: center;
         text-align: center;
    }
}

// body.single h1{
//     margin-bottom: 0;
// }
.time-stamp{
    @extend .text-muted;
    i{
    color:$primary;
    }
}

.searchform{
    .btn{
        padding: 0 .75rem;
    }
}

.article-list{
    article,
    .card{
        height: 100%;
    }
    > div{
        margin-bottom: $grid-gutter-width;
    }

}

.navbar{
    .search-btn{
        order:3;
    }
    .navbar-toggler{
        order:5;
        margin-right: 0.5rem;
    }
    flex-wrap: wrap;
    .search-collapse{
            order:7;
            flex: 0 0 100%;
            padding: 1rem 0;
        }
    @include media-breakpoint-down(sm) {
        .search-collapse,
        .navbar-collapse{
            order:7;
            flex: 0 0 100%;
        }
        .navbar-brand{
            flex:1;
        }
      }
}

.hp-jumbo{
    background-size: cover;
    background-position: center top;
    padding: 0 !important;
    .jumbotron{
        background: rgba($dark , 0.85);
        color: $light;
        h1{
            color: $light;
        }
    }
}


#clouds{
     .c{
                text-align: center;
                display: block;
                position: relative;
                width:80%;
                margin:100px auto;
            }
            ._404{
                font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 15px;
            }
            ._1{
                text-align:center;
                display:block;
                position:relative;
                letter-spacing: 12px;
                font-size: 4em;
                line-height: 80%;
            }
            ._2{
                text-align:center;
                display:block;
                position: relative;
                font-size: 20px;
            }
            .text{
                font-size: 70px;
                text-align: center;
                position: relative;
                display: inline-block;
                margin: 19px 0px 0px 0px;
                /* top: 256.301px; */
                z-index: 3;
                width: 100%;
                line-height: 1.2em;
                display: inline-block;
            }
           

            .btn{
                background-color: rgb( 255, 255, 255 );
                position: relative;
                display: inline-block;
                width: 358px;
                padding: 5px;
                z-index: 5;
                font-size: 25px;
                margin:0 auto;
                color:#33cc99;
                text-decoration: none;
                margin-right: 10px
            }
            .right{
                float:right;
                width:60%;
            }
            
            hr{
                padding: 0;
                border: none;
                border-top: 5px solid #fff;
                color: #fff;
                text-align: center;
                margin: 0px auto;
                width: 420px;
                height:10px;
                z-index: -10;
            }
            
            hr:after {
                content: "\2022";
                display: inline-block;
                position: relative;
                top: -0.75em;
                font-size: 2em;
                padding: 0 0.2em;
                background: #33cc99;
            }
            
            .cloud {
                width: 350px; height: 120px;

                background: #FFF;
                // background: linear-gradient(top, #FFF 100%);
                // background: -webkit-linear-gradient(top, #FFF 100%);
                // background: -moz-linear-gradient(top, #FFF 100%);
                // background: -ms-linear-gradient(top, #FFF 100%);
                // background: -o-linear-gradient(top, #FFF 100%);

                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;

                position: absolute;
                margin: 120px auto 20px;
                z-index:-1;
                transition: ease 1s;
            }

            .cloud:after, .cloud:before {
                content: '';
                position: absolute;
                background: #FFF;
                z-index: -1
            }

            .cloud:after {
                width: 100px; height: 100px;
                top: -50px; left: 50px;

                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
            }

            .cloud:before {
                width: 180px; height: 180px;
                top: -90px; right: 50px;

                border-radius: 200px;
                -webkit-border-radius: 200px;
                -moz-border-radius: 200px;
            }
            
            .x1 {
                top:-50px;
                left:100px;
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                transform: scale(0.3);
                opacity: 0.9;
                -webkit-animation: moveclouds 15s linear infinite;
                -moz-animation: moveclouds 15s linear infinite;
                -o-animation: moveclouds 15s linear infinite;
            }
            
            .x1_5{
                top:-80px;
                left:250px;
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                transform: scale(0.3);
                -webkit-animation: moveclouds 17s linear infinite;
                -moz-animation: moveclouds 17s linear infinite;
                -o-animation: moveclouds 17s linear infinite; 
            }

            .x2 {
                left: 250px;
                top:30px;
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                transform: scale(0.6);
                opacity: 0.6; 
                -webkit-animation: moveclouds 25s linear infinite;
                -moz-animation: moveclouds 25s linear infinite;
                -o-animation: moveclouds 25s linear infinite;
            }

            .x3 {
                left: 250px; bottom: -70px;

                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                transform: scale(0.6);
                opacity: 0.8; 

                -webkit-animation: moveclouds 25s linear infinite;
                -moz-animation: moveclouds 25s linear infinite;
                -o-animation: moveclouds 25s linear infinite;
            }

            .x4 {
                left: 470px; botttom: 20px;

                -webkit-transform: scale(0.75);
                -moz-transform: scale(0.75);
                transform: scale(0.75);
                opacity: 0.75;

                -webkit-animation: moveclouds 18s linear infinite;
                -moz-animation: moveclouds 18s linear infinite;
                -o-animation: moveclouds 18s linear infinite;
            }

            .x5 {
                left: 200px; top: 300px;

                -webkit-transform: scale(0.5);
                -moz-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0.8; 

                -webkit-animation: moveclouds 20s linear infinite;
                -moz-animation: moveclouds 20s linear infinite;
                -o-animation: moveclouds 20s linear infinite;
            }

            @-webkit-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }
            @-moz-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }
            @-o-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }
}
