// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&subset=hebrew');

// $primary: #5533ff; // Thats a sample how you could change a BootStrap variable.

// @import "custom-vars/cerulean/variables";
// @import "custom-vars/cosmo/variables";
// @import "custom-vars/cyborg/variables";
 //@import "custom-vars/darkly/variables";
//@import "custom-vars/flatly/variables";
// @import "custom-vars/journal/variables";
//3 @import "custom-vars/litera/variables";
//3@import "custom-vars/lumen/variables";
// @import "custom-vars/lux/variables";
//3 @import "custom-vars/materia/variables";
//@import "custom-vars/minty/variables";
//@import "custom-vars/pulse/variables";
//3 @import "custom-vars/sandstone/variables";
//@import "custom-vars/simplex/variables";
// @import "custom-vars/sketchy/variables";
// @import "custom-vars/slate/variables";
//2 @import "custom-vars/solar/variables";
//@import "custom-vars/spacelab/variables";
// @import "custom-vars/superhero/variables";
//2@import "custom-vars/united/variables";
@import "custom-vars/yeti/variables";

//2 @import "custom-vars/blue-green";
//2@import "custom-vars/Signal";
//2 @import "custom-vars/darker-blue";
//2 @import "custom-vars/Fresca";
//2 @import "custom-vars/Herbie";
//2 @import "custom-vars/light-orange";
// @import "custom-vars/gray-blue";
// @import "custom-vars/dark-red";
// @import "custom-vars/olive";
// @import "custom-vars/orange";
// @import "custom-vars/purple";
// @import "custom-vars/black-blue";
 //1 @import "custom-vars/teal-orange";

$dark:#2B3750;
$light:         $gray-100;
// $enable-shadows: true;
// $enable-gradients: true;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
 $font-family-sans-serif:      'Rubik', sans-serif, "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans";
// $font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
 //$font-family-base:            $font-family-sans-serif !default;
// // stylelint-enable value-keyword-case

// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $font-size-lg:                ($font-size-base * 1.25) !default;
// $font-size-sm:                ($font-size-base * .875) !default;

// $font-weight-lighter:         lighter !default;
// $font-weight-normal:          400 !default;
// $font-weight-bold:            700 !default;
// $font-weight-bolder:          bolder !default;

$font-weight-light: 300;
$font-weight-base: $font-weight-light;

$font-weight-bold: 500;
$font-weight-bolder: 700;
$headings-font-weight: $font-weight-light;
$line-height-base: 1.75;  


$grid-gutter-width: 50px;

