// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html{
    font-size: 16px;
}
th,
b,
strong {
  font-weight: $font-weight-bold; // Add the correct font weight in Chrome, Edge, and Safari
}

.business-header h1,
#Footer{
    direction:ltr;
}
h1{
    color: $dark;
}
body{
    position: relative;
    [dir='rtl']{
        text-align: right;
    }
    &.rtl{
        text-align: right;
        direction: rtl;
        .navbar-nav{
            padding-right:0; 
        }
        .navbar-brand {
            margin-right: 0;
            margin-left: 1rem;
        }
        .input-group-append {
            margin-right: -1px;
            margin-left: 0px;
        }
        .input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
#page{
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    min-height: 100vh;
    #content{
        flex:1;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
   
}

#Header{
    nav{
        background-color: $dark;
    }
}
#Footer{
    background-color: $secondary;
    padding: 0.5rem 0;
    
}
figure,
img{
    max-width:100%;
    height: auto;
}

.sidebar{
    .widget{
        margin-bottom: 2rem;
        //@extend .card;
        $title-color: $dark;
        .widget-header{
            position: relative;
            color:$title-color;
            margin-bottom: 1.5rem;
            &:after {
                background-color: $title-color;
                content: "";
                position: absolute;
                width: 50px;
                display: block;
                height: 3px;
                bottom: -6px;
            }
        }
    }
    ul{
        @extend .list-unstyled;
        padding:0; //rtl
        //@extend .card-body;
    }
}

section.fp{
    min-height: calc(100vh - 60px);
} 


.business-header{
    height:50vh;
    background-size: cover;
    h1{
        display: flex;
        align-items: center;
        color: $light;
        [role=presentation]{
            background: $primary;
            border-radius: 50%;
            padding: .5rem;
            margin: 0 .5rem;
        }
    }
    >div{
        height: 100%;
        display: flex;
        background: rgba($black, 0.6);
        color: $white;
         justify-content: center;
         align-items: center;
         text-align: center;
    }
}

// body.single h1{
//     margin-bottom: 0;
// }
.time-stamp{
    @extend .text-muted;
    i{
    color:$primary;
    }
}

.searchform{
    .btn{
        padding: 0 .75rem;
    }
}

.article-list{
    article,
    .card{
        height: 100%;
    }
    > div{
        margin-bottom: $grid-gutter-width;
    }

}

.navbar{
    .search-btn{
        order:3;
    }
    .navbar-toggler{
        order:5;
        margin-right: 0.5rem;
    }
    flex-wrap: wrap;
    .search-collapse{
            order:7;
            flex: 0 0 100%;
            > div{
            padding: 1rem 0;
            }
        }
    @include media-breakpoint-down(sm) {
        .search-collapse,
        .navbar-collapse{
            order:7;
            flex: 0 0 100%;
        }
        .navbar-brand{
            flex:1;
        }
      }
}

.hp-jumbo{
    background-size: cover;
    background-position: center top;
    padding: 0 !important;
    .jumbotron{
        background: rgba($dark , 0.85);
        color: $light;
        h1{
            color: $light;
        }
    }
}

#languages{
    padding:0 0.25rem;
    .widget_polylang{
        ul{
            @extend .list-unstyled;
            padding: 0;
            margin:0;
            a{
                display: block;
                padding: 0.5rem;
            }
        }
        .widget-header,
        .sdfsdf{
            @extend .sr-only;
        }
        font-size: 0;
    }
}

.navbar-brand{
    img{
        height: 48px;
    }
}

.editor-post-title__block .editor-post-title__input{
    @extend .h1;
}

aside.sidebar{
    padding-top: 2rem;
}
