<!doctype html>
<html {{ function('language_attributes') }}>
    {% include 'blocks/head.twig' %}
    <body {{ function('body_class') }}>
        <div id="page" class="site">
            <a class="skip-link sr-only sr-only-focusable" href="#content">Skip to content</a>
            {% include 'blocks/header.twig' %}
            {% block main %}
            <div class="wrap container" id="content" role="document">
                <div class="content row">
                    <main class='main  {{display_sidebar > 0 ? "col-md-8":"col-md-12"}}'>
                        {% block content %}contents goes here{% endblock %}
                    </main>
                    {% if display_sidebar %}
                        {% include 'blocks/sidebar.twig' %}
                    {% endif %}
                </div>
            </div>
            {% endblock %}
            {% block footer %}
                {% include 'blocks/footer.twig' %}
                {{ function('wp_footer') }}
            {% endblock %}
        </div>
    </body>
</html>