
///////////////////////////////////////////



$primary:         rgb(173, 29, 40); // darken(#428bca, 6.5%); // #337ab7
$success:         rgb(72, 202, 59); // #5cb85c;
$info:            rgb(77, 58, 125); // #5bc0de;
$warning:         rgb(222, 187, 39); // #f0ad4e;
$danger:          rgb(223, 110, 30); // #d9534f;

