

$primary:         #32485D; // darken(#428bca, 6.5%); // #337ab7
$success:         #179ea0; // #5cb85c;
$info:            #5fbff9; // #5bc0de;
$warning:         #f18f01; // #f0ad4e;
$danger:          #e3170a; // #d9534f;
