




$primary:         #f26b3e; // darken(#428bca, 6.5%); // #337ab7
$success:         #f5b142; // #5cb85c;
$info:            #77777b; // #5bc0de;
$warning:         #dcd8d6; // #f0ad4e;
$danger:          #4aa8c4; // #d9534f; 
