


$primary:         #fb6021; // darken(#428bca, 6.5%); // #337ab7
$success:         #006e20; // #5cb85c;
$info:            #38b4ff; // #5bc0de;
$warning:         #fff500; // #f0ad4e;
$danger:          #930900; // #d9534f;
