

$primary:         darken(#179ea0, 6.5%); // darken(#428bca, 6.5%); // #337ab7
$success:         #93b439; // #5cb85c;
$info:            #81b8e5; // #5bc0de;
$warning:         #f4931f; // #f0ad4e;
$danger:          #f04b22; // #d9534f;
